a {
    color: #428bca;
}

.tab-content {
    overflow-y: auto;
    height: auto;
}

/*移动modal样式*/
#djsjSearchPop .modal-dialog {
    width: 650px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

/*移动modal样式*/
#tipPop .modal-dialog {
    width: 650px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

.mulSelectPop {
    width: 975px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

.alert {
    font-size: 12px;
    border-radius: 4px;
    padding: 5px;
    margin-bottom: 5px;
}

/*移动modal样式*/
#ywsjSearchPop .modal-dialog {
    width: 650px;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

/*高级搜索的样式修改*/
.btn01:hover {
    background-color: #c7c7c7;
    text-decoration: none;
    color: #333;
}

.btn01 {
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    color: #333333;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #f2f2f2;
    border: 1px solid #aaa;
    webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    border-radius: 0px !important;
}

/*去掉表格横向滚动条*/
/*.ui-jqgrid-bdiv{
    overflow-x: hidden!important;
}*/

/*表单样式重写*/
form input[type='text'], select, textarea {
    border-radius: 4px !important;
    width: 100% !important;
}

.modelFooter {
    background: none;
    border-top: 1px solid #e5e5e5;
    padding: 10px;
    text-align: center;
}

.form .row {
    margin: 10px 0px 10px 0px;
}

.form .row .col-xs-2 {
    padding-left: 0px;
    padding-right: 4px;
    text-align: right;
}

.form .row .col-xs-4 {
    padding-left: 0px;
    padding-right: 0px;
}

label {
    font-weight: bold;
}
.SelectXnDyh {
    background-color: #FFFFCC;
}



.tableHeaderMy {
    background: repeat-x bottom;
    margin: 0px;
    padding-top: 3px;
    height: 30px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.tableHeaderMy > ul {
    float: left;
    margin-left: 7px;
}

.tableHeaderMy > ul > li > button {
    color: black;
    font-weight: normal;
    font-size:12px;
    padding: 0px 7px 0px 7px;
    border:0px;
    background-color: #FFF5EE;
}
